@import url(/node_modules/modern-normalize/modern-normalize.css);
@import url(/src/css/global.css);
@import url(/src/css/variables.css);
@import url(/src/css/range.css);

.header {
  border-bottom: 1px solid var(--color-shade-400);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.header__list {
  display: none;
}

.nav__menu-btn {
  padding: 12px;
  background: var(--color-primary-100);
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
}

.hero {
  padding: 16px 0 24px 0;
}

.hero__title {
  font-family: SB Sans Display SemiBold;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 6px;
}
.hero__title-svg {
  display: none;
}
.hero__subtitle {
  line-height: 130%;
  text-align: center;
  color: var(--color-text-200);
  margin-bottom: 16px;
}
.hero__box-image {
  display: none;
}
.hero__box-form {
  background: #d8f1a0;
  border-radius: 65px;
  padding: 25px 16px 33px;
  margin-bottom: 16px;
}
.hero__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  padding: 16px;
  background-color: var(--color-shade-600);
  border-radius: 42px;
}
.hero__form-title {
  font-family: SB Sans Display SemiBold;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}
.hero__form-label {
  min-width: 270px;
  min-height: 52px;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  padding: 8px 17px;
  background-color: var(--color-shade-300);
}
.hero__form-input {
  background-color: var(--color-shade-300);
  border: none;
  margin-top: 5px;
  outline: none;
}
.hero__form-text {
  padding-left: 2px;
}
.hero__form-btn {
  border-radius: 10px;
  padding: 16px 21px;
  width: 271px;
  height: 53px;
  border: none;

  cursor: pointer;
  background: var(--color-primary-100);
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: var(--color-shade-600);
}
.rate__box-rate {
  background: var(--color-shade-200);
}
.rate__rate-list {
  display: flex;
  justify-content: center;
  padding: 37px 54px;
  gap: 32px;
}
.rate__rate-item {
}
.rate__rate-title {
  font-family: SB Sans Display SemiBold;
  font-weight: 600;
  font-size: 27px;
  line-height: 130%;
  color: var(--color-text-100);
  margin-bottom: 4px;
}
.rate__rate-subtitle {
  color: var(--color-text-200);
  white-space: nowrap;
}

/* ABOUT */

.about {
  margin: 24px 0;
}

.about__wrapper {
}
.about__hidden-wrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.about__title {
  font-family: SB Sans Display Semibold;
  font-weight: 600;
  font-size: 27px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 16px;
}
.about__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.about__item {
  border-radius: 65px;
  padding: 40px 35px;
  background-color: var(--color-shade-200);
  text-align: left;
  &:first-child {
    .about__item-text {
      margin-bottom: 54px;
    }
  }
}
.green-item {
  padding: 32px 38px;
  background-color: var(--color-shade-100);
  .about__item-text,
  .about__item-title {
    color: var(--color-shade-600);
  }
  img {
    margin-bottom: 35px;
  }
}
.about__item-title {
  font-family: SB Sans Display Semibold;
  font-weight: 600;
  font-size: 13px;
  line-height: 130%;
  margin-bottom: 12px;
}
.about__item-text {
  color: var(--color-text-200);
  margin-bottom: 7px;
}
.about__item-img {
  margin: 0 auto;
}

/* BENEFITS */

.benefits {
  padding: 24px 0;
  background: var(--color-shade-200);
}
.benefits__wrapper {
  position: relative;
}
.benefits__title {
  font-family: SB Sans Display Semibold;
  font-weight: 600;
  font-size: 27px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 16px;
}
.benefits__slider {
  overflow: hidden;
  max-width: 226px;
  margin: 0 auto;
  margin-bottom: 37px;
  box-shadow: 20px 20px 60px 0 rgba(23, 33, 0, 0.06);
  border-radius: 42px;
}
.swiper-wrapper {
}
.benefits__list {
  display: flex;
  align-items: center;
}
.swiper-slide {
}
.benefits__item {
  padding: 17px;

  background: var(--color-shade-600);

  max-width: 226px;
  min-height: 318px;
  border-radius: 42px;
}
.benefits__item-box {
  border-radius: 24px;
  background-color: #d8f1a0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 42px 30px;
  margin-bottom: 12px;
}
.benefits__img {
  width: 130px;
  height: 130px;
}
.benefits__item-title {
  font-family: SB Sans Display Semibold;

  font-weight: 600;
  font-size: 13px;
  line-height: 130%;
  margin-bottom: 6px;
}
.benefits__item-text {
  line-height: 130%;
  color: var(--color-text-200);
}
.pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 65px !important;
}

.benefits__btn {
  text-align: center;
  color: var(--color-shade-600);

  border-radius: 10px;
  padding: 16px 21px;

  background-color: var(--color-primary-100);

  border: none;
  height: 48px;
  margin: 0 auto;
  display: flex;
}

.swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-primary-100) !important;
}

/* PROFIT */

.profit {
  margin: 48px 0;
}

.profit__title {
  font-family: SB Sans Display Semibold;
  font-weight: 600;
  font-size: 27px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 24px;
}
.profit__wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.profit__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.profit__item {
  border-radius: 65px;
  padding: 18px 52px;
  background: var(--color-shade-200);
}
.profit__box-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.profit__subtitle,
.profit__sum {
  font-family: SB Sans Display Semibold;

  font-family: var(--second-family);
  font-weight: 600;
  font-size: 13px;
  line-height: 130%;
}
.profit__sum {
  color: var(--color-primary-100);
}
.profit__box-down {
  display: flex;
  justify-content: space-between;
}
.profit__range {
  width: 100%;
  margin-bottom: 15px;
}

.profit__lower-price {
}
.profit__upper-price {
}
.profit__result {
  padding: 24px 28px;
  border-radius: 42px;
  background: var(--color-shade-100);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.profit__result-title {
  color: var(--color-shade-600);
  margin-bottom: 12px;
}
.profit__result-price {
  font-family: SB Sans Display Semibold;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: var(--color-primary-100);
  margin-bottom: 12px;
}
.profit__result-box {
  border-radius: 20px;
  padding: 15px 23px;
  background: var(--color-shade-transparent-600-10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  margin-bottom: 27px;
}
.profit__bonus-title {
  color: var(--color-shade-600);
  max-width: 119px;
}
.profit__bonus-price {
  font-family: SB Sans Display Semibold;
  font-weight: 600;
  font-size: 27px;
  line-height: 130%;
  color: var(--color-primary-100);
}
.profit__btn {
  color: var(--color-shade-600);

  border-radius: 10px;
  padding: 16px 21px;
  background-color: var(--color-primary-100);
  border: none;
  cursor: pointer;
  width: 281px;
}

.footer {
  border-top: 1px solid var(--color-shade-300);
  margin-top: 24px;
  padding-top: 24px;
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__logo {
  margin-bottom: 12px;
}
.footer__nav {
  margin-bottom: 24px;
}
.footer__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.footer__item {
}
.footer__item-link {
}
.footer__box {
  background: var(--color-shade-200);
  padding: 24px 0 69px;
}
.footer__box-title {
  margin-bottom: 14px;
  padding: 0 36px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-shade-300);
}
.footer__box-title,
.footer__box-text {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: var(--color-text-200);
}

@media only screen and (min-width: 768px) {
  .nav__menu-btn {
    display: none;
  }
  .header__list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .header__item {
    padding: 26px 0;
    &:last-child {
      border-radius: 10px;
      padding: 16px 21px;
      background: var(--color-primary-100);
      color: var(--color-shade-600);
    }
  }
  .hero__form-label {
    width: 100%;
  }
  .benefits__slider {
    max-width: 100%;
    box-shadow: none;
    overflow: visible;
  }
  .benefits__item {
    box-shadow: 20px 20px 60px 0 rgba(23, 33, 0, 0.06);
  }
  .benefits__list {
    justify-content: center;
    gap: 24px;
  }
  .profit__wrapper {
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 1280px) {
  .header__item {
    font-size: 16px;
  }
  .hero__wrapper {
    display: flex;
    gap: 21px;
  }
  .hero__box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 514px;
  }
  .hero__title {
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 48px;
    flex-wrap: wrap;
  }
  .hero__subtitle {
    text-align: left;
    font-size: 16px;
  }
  .hero__title-svg {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  .hero__box-form {
    padding: 142px 91px;
    position: relative;
  }
  .hero__form {
    position: relative;
    padding: 26px 28px;
    z-index: 2;
  }
  .hero__box-image {
    position: absolute;
    display: block;
    bottom: 0;
    right: -200px;
    z-index: 1;
  }
  .rate__box-rate {
    position: absolute;
    bottom: 69px;
    z-index: -1;
    left: -100px;
  }
  .rate__rate-list {
    padding: 43px 163px 43px 163px;
    gap: 78px;
  }
  .rate__rate-title {
    font-size: 36px;
  }
  .rate__rate-subtitle {
    font-size: 16px;
  }
  .hero__container {
    position: relative;
  }
  .about__title {
    font-size: 36px;
  }
  .about__list {
    flex-direction: row;
  }
  .about__item-title {
    font-size: 18px;
  }
  .about__item-text {
    font-size: 16px;
  }
  .about__wrap {
    max-width: 342px;
    max-height: 242px;
  }
  .about__item {
    max-width: 660px;
    max-height: 324px;
    img {
      object-fit: contain;
      width: 240px;
      height: auto;
    }
    display: flex;
  }
  .green-item {
    max-width: 465px;
    max-height: 655px;
    img {
      width: 362px;
      height: 348px;
    }
    flex-direction: column;
  }
  .about__hidden-wrap {
    display: flex;
    gap: 26px;
  }
  .about__item-img {
    width: 362px;
    height: 348px;
  }
  .benefits__title {
    padding-top: 47px;
    text-align: left;
    font-size: 36px;
  }
  .benefits__item-box {
    border-radius: 65px;
  }
  .benefits__img {
    width: 250px;
    height: 250px;
  }
  .benefits__item {
    max-width: 370px;
  }
  .benefits__item-title {
    font-size: 18px;
  }
  .benefits__item-text {
    font-size: 16px;
  }
  .benefits__wrapper {
    position: relative;
  }
  .benefits__btn {
    position: absolute;
    top: 47px;
    right: 0;
  }
  .profit__wrapper {
    justify-content: center;
    align-items: center;
  }
  .profit__title {
    font-size: 36px;
  }
  .profit__item {
    padding: 35px 52px;
    width: 660px;
  }
  .profit__result {
    padding: 44px 30px;
    width: 466px;
    max-height: 350px;
  }
  .profit__result-title {
    font-size: 16px;
  }
  .profit__result-price {
    font-size: 48px;
  }
  .profit__bonus-title {
    font-size: 16px;
  }
  .profit__bonus-price {
    font-size: 36px;
  }
  .profit__result-box {
    padding: 22px 23px;
    min-width: 378px;
  }
  .profit__btn {
    width: 100%;
    font-size: 16px;
  }
  .profit__bonus-title {
    max-width: 161px;
  }
  .profit__box-up {
    h4,
    p {
      font-size: 18px;
    }
  }
  .profit__box-down {
    font-size: 16px;
  }
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer {
    font-size: 16px;
  }
  .footer__box-title {
    font-size: 16px;
  }
  .footer__box-text {
    font-size: 16px;
  }
}

.invalid {
  border: 2px solid #ed6a5e;
}

.valid {
  border: 2px solid #4ce0b3;
}
